@model MyShelf.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<head>
    <link href="@Url.Content("~/Content/App/Register.css")" rel="stylesheet" type="text/css" />
    <style>
        #change-password-form {
            height: 580px;
        }

        #form-begin {
            margin: auto;
            margin-top: 60px;
            width: 30%;
            border: 1px solid lightslategray;
            border-radius: 22px;
        }

        #inside-content {
            margin-left: 20px;
            margin-top: 22px;
        }

        #image-div {
            display: inline-block;
            float: right;
            width: 27%;
        }

        #image-img {
            width: 50px;
            height: 50px;
        }

        hr {
            margin-left: -20px;
        }

        h2 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
            color: gray;
        }
        h2, h4 {
            margin-left: 100px;
        }

        #change-password {
            font-size: 16px;
            margin-left: 60px;
            border: 1px solid gray;
            background-color: gray;
            color: black;
            margin-bottom: 10px;
        }

            #change-password:hover {
                background-color: lightgray;
                border: 1px solid lightgray;
            }

        .form-group {
            margin-left: 55px;
        }

        #new-user > a {
            color: #0a58ca;
            text-decoration: none;
        }

        .navbar {
            margin-top: -90px;
            padding-top: 4.5rem;
            padding-bottom: 1.5rem;
        }
        }
    </style>
</head>

<div id="change-password-form">
    @*@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {*@
        <form action="/Manage/ChangePassword" class="form-horizontal" method="post" role="form" novalidate="novalidate" id="form-begin">
            <div id="inside-content">
                @Html.AntiForgeryToken()
                <h2>@ViewBag.Title</h2>
                <h4>Change Password Form</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="btn btn-default" id="change-password" />
                    </div>
                </div>
            </div>
        </form>
    
        
    @*}*@
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}